.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px !important;
  padding: 10px;
}

.slick-prev {
  left: -40px !important; /* ajusta a gusto */
  z-index: 2;
}

.slick-next {
  right: -10px !important; /* el mismo valor que slick-prev pero a la derecha */
  z-index: 2;
}
