@import "tailwindcss";

@theme {
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 2px;
  width: 0;
  background: #1F2937;
  animation: underline 1s ease-out forwards;
}
